.Search {
    border-bottom: 1px solid #C8CAE6;

    input {
        background-color:  #241B30;
        border: none;
        color: #C8CAE6;
        padding: 1rem;
    }
    
    input::placeholder {
        color: #F5F5F5;
        font-size: 1rem;
    }

    button {
        border: none;
        background-color: #241B30;
        cursor: pointer;
    }

    div {
        border-bottom: none;
        padding: 1rem;
        position: absolute;
        width: 10rem;
        max-width: 100%;
        overflow-y: auto;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        z-index: 1;

        a{
            flex-basis: 100%;
            text-decoration: none;
            color: var(--text-color);
            background-color: var(--background-color);
        }
        a:hover{
            color: #BF33F0;
        }
    }
}